---
// Components
import Button from "components/Button.astro"

interface Props {
	date?: string,
    location?: string,
    links?: Array<{
        text: string,
        link: string,
        openInNewTab: boolean,
    }>,
}

const { date, location, links } = Astro.props;
---

<section
    class="section section-home-header full-height"
    data-theme-section="dark"
    data-bg-section="header-home"
>

    <div class="overlay overlay-background overlay-background-video">
        <div class="styled-video playpause overlay">
            <video class="overlay" preload="auto" autoplay loop muted webkit-playsinline playsinline poster="/videos/gosim-paris-compressed.webp">
                <source src="/videos/gosim-paris-compressed.webm" type="video/webm">
                <source src="/videos/gosim-paris-compressed.mp4" type="video/mp4">
            </video>
        </div>
        <div class="overlay overlay-gradient-v2" />
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="logo-gosim-scroll">
                    <svg width="85" height="15" viewBox="0 0 85 15" fill="none" xmlns="http://www.w3.org/2000/svg" style="">
                        <path d="M7.37843 14.6325C5.23198 14.6324 3.46883 13.9424 2.06982 12.5817C0.689981 11.2018 7.92376e-05 9.45783 0.000116031 7.3497C0.00015316 5.22241 0.709281 3.45926 2.14666 2.07942C3.58405 0.699578 5.36639 0.00967618 7.49368 0.0097133C9.79345 0.00975344 11.9207 0.948866 13.2047 2.30959L11.3457 4.34102C10.2917 3.28694 9.00765 2.75031 7.49363 2.75028C6.17126 2.75026 5.07886 3.19103 4.21643 4.05343C3.354 4.91583 2.91319 6.00821 2.91316 7.33059C2.91314 8.61463 3.33475 9.70703 4.17799 10.5886C5.04039 11.4702 6.13277 11.911 7.45514 11.9111C8.91166 11.9111 10.349 11.2978 11.2498 10.3971L11.2498 8.46145L7.34021 8.46139L7.34026 5.98913L13.8371 5.98924L13.837 11.8153C12.0355 13.6935 9.88902 14.6325 7.37843 14.6325Z" fill="white" fill-opacity="0.9"></path>
                        <path d="M22.6284 14.642C20.5394 14.642 18.7763 13.952 17.3773 12.553C15.9783 11.1539 15.2692 9.42908 15.2692 7.37845C15.2693 5.32781 15.9784 3.58383 17.3966 2.14649C18.834 0.70916 20.578 9.26534e-05 22.6478 0.000128778C24.7176 0.000164903 26.4616 0.709293 27.8797 2.14668C29.3171 3.58406 30.0261 5.30891 30.0261 7.34037C30.0261 9.37184 29.3169 11.0967 27.8796 12.5148C26.4613 13.933 24.7173 14.6421 22.6284 14.642ZM27.0747 7.34032C27.0748 6.03712 26.6532 4.96388 25.7907 4.10145C24.9283 3.23902 23.8935 2.79821 22.6477 2.79819C21.402 2.79817 20.3671 3.23894 19.5047 4.10134C18.6423 4.96374 18.2206 6.05613 18.2206 7.34017C18.2206 8.62421 18.6422 9.69745 19.4854 10.5599C20.3478 11.4223 21.4019 11.844 22.6476 11.844C23.8933 11.844 24.9474 11.4224 25.8098 10.56C26.6722 9.69759 27.0939 8.62436 27.0747 7.34032Z" fill="white" fill-opacity="0.9"></path>
                        <path d="M35.6352 14.6324C33.4313 14.6324 31.4382 13.6933 30.2691 11.9876L31.8982 10.0136C32.8181 11.2977 34.1979 11.9876 35.6544 11.9877C36.8235 11.9877 37.6859 11.3744 37.6859 10.4737C37.6859 9.89875 37.2643 9.40045 36.4019 8.99798C36.2103 8.90215 35.7503 8.72966 35.0029 8.44218C34.2746 8.15469 33.7189 7.88637 33.3356 7.67555C31.8407 6.81311 31.0933 5.64405 31.0934 4.14919C31.0934 2.96098 31.5342 1.98358 32.4349 1.19784C33.3357 0.412097 34.5048 0.00965644 35.923 0.00968119C37.7628 0.0097133 39.3151 0.642178 40.58 1.92624L39.0659 3.99601C38.2802 3.15275 37.0153 2.67361 35.9612 2.67359C34.8305 2.67357 34.1406 3.21017 34.1406 4.03426C34.1406 4.59004 34.5238 5.05 35.2904 5.43331L36.6894 6.04661C37.4752 6.37242 38.0501 6.62157 38.4143 6.79406C40.0241 7.57985 40.829 8.74891 40.829 10.3204C40.8289 11.5853 40.3498 12.6202 39.3916 13.4251C38.4333 14.23 37.1876 14.6324 35.6352 14.6324Z" fill="white" fill-opacity="0.9"></path>
                        <path d="M42.2691 14.4024L42.2693 0.239624L45.1249 0.239674L45.1247 14.4025L42.2691 14.4024Z" fill="white" fill-opacity="0.9"></path>
                        <path d="M49.0672 14.4024L46.2691 14.4023L46.2693 0.239563L48.1475 0.239596L53.7052 8.26974L59.2056 0.239789L61.1221 0.239822L61.1218 14.4026L58.2854 14.4026L58.2856 6.37251L54.165 12.2944L53.1876 12.2943L49.0673 6.37235L49.0672 14.4024Z" fill="white" fill-opacity="0.9"></path>
                        <path d="M79.4968 14.4026L76.5071 14.4025L75.4531 11.3361L70.5086 11.3361L69.4162 14.4024L66.4456 14.4023L71.8503 0.239657L74.1693 0.239698L79.4968 14.4026ZM74.6482 8.80637L73.0002 4.0918L71.3136 8.80631L74.6482 8.80637Z" fill="white" fill-opacity="0.9"></path>
                        <path d="M81.4136 14.4024L81.4138 0.239624L84.2694 0.239674L84.2691 14.4025L81.4136 14.4024Z" fill="white" fill-opacity="0.9"></path>
                    </svg>
                </div>

                <div class="event-facts">
                    {date &&
                        <p>{date}</p>
                    }

                    {location &&
                        <p>{location}</p>
                    }
                </div>

                <div class="btn-home-wrap">
                    {links?.map((loop) => (
                        <Button
                            text={loop.text}
                            link={loop.link}
                            openInNewTab={loop?.openInNewTab}
                            class="btn light xl btn-hover fade-in-last"
                        />
                    ))}
                </div>
            </div>
        </div>
    </div>
</section>